.social-login
    button
        span.social-login--github
            i.fab.fa-github
        | Continue with Github
    button
        span.social-login--google
            i.fab.fa-google
        | Continue with Google